/* node-sass -w scss -o css */
/* |||| |||| ---- VARIABLES ---- |||| |||| */
/* |||| |||| ---- GRAY SCALE ---- |||| |||| */
/* |||| |||| ---- RESET ---- |||| |||| */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px; }

body {
  margin: 0;
  line-height: 1.5; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  color: inherit;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

ul,
li,
figure {
  padding: 0;
  margin: 0;
  list-style: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/* **** **** ---- RESET--OTHER ---- **** **** */
.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bagnard", sans-serif; }

/* |||| |||| ---- UTILITIES ---- |||| |||| */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 576px) {
    .container {
      width: 540px; } }
  @media screen and (min-width: 768px) {
    .container {
      width: 720px; } }
  @media screen and (min-width: 992px) {
    .container {
      width: 960px; } }
  @media screen and (min-width: 1200px) and (orientation: landscape) {
    .container {
      width: 1140px; } }
  @media screen and (min-width: 1400px) and (orientation: landscape) {
    .container {
      width: 1320px; } }

@media screen and (min-width: 576px) {
  html {
    font-size: 1.1rem; } }

/*********************************************/
/* |||| ||||      SITE STYLES      |||| |||| */
/*********************************************/
@font-face {
  font-family: "Bagnard";
  src: url("../assets/fonts/BagnardSans.otf"); }

::selection {
  background: #000;
  text-shadow: none;
  color: #fff; }

::-moz-selection {
  background: #000;
  text-shadow: none;
  color: #fff; }

body {
  font-family: "Jost", sans-serif;
  overflow-x: hidden; }

.overflow-y-hidden {
  overflow-y: hidden; }

.mainGrid {
  display: grid;
  grid-template: 4rem auto / auto; }
  @media screen and (min-width: 992px) {
    .mainGrid {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      min-height: 600px;
      max-height: 100vh;
      grid-template: 4rem auto 4rem / 45% 4rem auto; } }

.pageHeader {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  justify-content: flex-end;
  position: relative;
  border-bottom: 0.0625rem solid #d9d9d9; }
  @media screen and (min-width: 992px) {
    .pageHeader {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      border: none; } }

.pageNav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  padding: 15% 15%;
  z-index: 10;
  overflow: auto;
  color: #fff;
  background-color: #000;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transform: translateX(-101%);
  -webkit-transform: translateX(-101%);
  -moz-transform: translateX(-101%);
  -ms-transform: translateX(-101%);
  -o-transform: translateX(-101%); }
  @media screen and (min-width: 992px) {
    .pageNav {
      position: absolute;
      padding: 6rem 6rem 3rem;
      width: 56vw; } }
  .pageNav__menuList {
    width: 100%; }
  .pageNav__menuItem {
    margin-bottom: 1.25rem; }
    .pageNav__menuItem--small {
      margin-bottom: 0.75rem; }
  .pageNav__menuLink {
    display: inline-block;
    width: 50%;
    height: 100%;
    font-family: "Bagnard", sans-serif;
    font-size: calc(1rem + 1vw);
    line-height: 1; }
    .pageNav__menuLink--small {
      font-size: calc(0.5rem + 0.5vw); }
  .pageNav__footer {
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: calc(0.5rem + 0.5vw);
    align-self: flex-end;
    margin-top: 2rem; }

.menuExpand {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0); }

.separator {
  width: 2.5rem;
  height: 0.0625rem;
  margin: 1.7rem 0;
  background-color: gray; }

.mainLogo {
  display: inline-block;
  position: absolute;
  top: 0.5rem;
  left: 1.5rem;
  z-index: 10;
  font-family: "Bagnard", sans-serif;
  font-size: 2rem;
  color: #000; }
  @media screen and (min-width: 992px) {
    .mainLogo {
      color: #fff; } }

.menuIcon {
  width: 4rem;
  height: 4rem;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  cursor: pointer; }
  @media screen and (min-width: 992px) {
    .menuIcon:hover .menuIcon__icon,
    .menuIcon:hover .menuIcon__cross {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg); } }
  .menuIcon__icon, .menuIcon__cross {
    display: inline-block;
    width: 50%;
    height: 50%;
    background-image: url(../assets/icons/menu-toggle.svg);
    background-position: center;
    background-repeat: no-repeat; }
    @media screen and (min-width: 992px) {
      .menuIcon__icon, .menuIcon__cross {
        transition: transform 0.2s;
        -webkit-transition: transform 0.2s;
        -moz-transition: transform 0.2s;
        -ms-transition: transform 0.2s;
        -o-transition: transform 0.2s; } }
  .menuIcon__cross {
    background-image: url(../assets/icons/cross.svg); }

.fixed {
  position: fixed; }

.d-none {
  display: none; }

.middleBar {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  border-bottom: 0.0625rem solid #d9d9d9; }
  @media screen and (min-width: 992px) {
    .middleBar {
      grid-row: 2 / 4;
      grid-column: 2 / 3;
      border-bottom: none;
      border-right: 0.0625rem solid #d9d9d9; } }

.listSocialNet {
  width: 100%;
  height: 100%;
  display: flex; }
  @media screen and (min-width: 992px) {
    .listSocialNet {
      flex-direction: column;
      justify-content: flex-end; } }
  .listSocialNet__item {
    width: 100%;
    height: 4rem;
    border-right: 0.0625rem solid #d9d9d9; }
    @media screen and (min-width: 992px) {
      .listSocialNet__item {
        width: 4rem;
        border-right: none;
        border-top: 0.0625rem solid #d9d9d9; } }
  .listSocialNet__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 992px) {
      .listSocialNet__link {
        transition: background-color 0.3s;
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        -ms-transition: background-color 0.3s;
        -o-transition: background-color 0.3s; } }
    .listSocialNet__link:hover {
      background-color: black; }
      .listSocialNet__link:hover .listSocialNet__logo {
        filter: invert(100%);
        -webkit-filter: invert(100%); }
  @media screen and (min-width: 992px) {
    .listSocialNet__logo {
      transition: filter 0.3s;
      -webkit-transition: filter 0.3s;
      -moz-transition: filter 0.3s;
      -ms-transition: filter 0.3s;
      -o-transition: filter 0.3s; } }

.infoBar {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 2rem;
  border-bottom: 0.0625rem solid #d9d9d9;
  font-weight: 600;
  font-size: 0.9rem; }
  @media screen and (min-width: 992px) {
    .infoBar {
      grid-row: 3 / 4;
      grid-column: 3 / 4;
      border-top: 0.0625rem solid #d9d9d9; } }
  .infoBar__addrs, .infoBar__tel {
    margin: 0.2rem auto;
    padding: 0 1rem; }

.topBar {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  border-bottom: 0.0625rem solid #d9d9d9;
  display: flex;
  justify-content: space-evenly; }
  @media screen and (min-width: 992px) {
    .topBar {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
      border-bottom: none; } }

.btn-black {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 0.0625rem solid #000;
  background-color: #000;
  overflow: hidden; }
  .btn-black__text {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem 3rem;
    text-align: center;
    font-weight: 600;
    color: #fff; }
    @media screen and (min-width: 992px) {
      .btn-black__text {
        transition: color 0.5s;
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
        -ms-transition: color 0.5s;
        -o-transition: color 0.5s; } }
    .btn-black__text::after {
      content: "";
      width: 0;
      height: 100%;
      position: absolute;
      left: -1%;
      top: 0;
      background-color: white;
      z-index: -1; }
      @media screen and (min-width: 992px) {
        .btn-black__text::after {
          transition: width 0.5s;
          -webkit-transition: width 0.5s;
          -moz-transition: width 0.5s;
          -ms-transition: width 0.5s;
          -o-transition: width 0.5s; } }
  @media screen and (min-width: 992px) {
    .btn-black:hover .btn-black__text {
      color: #000; }
    .btn-black:hover .btn-black__text::after {
      width: 102%; } }

.pageContent {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
  padding: 5.5%;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  @media screen and (min-width: 992px) {
    .pageContent {
      grid-row: 2 / 3;
      grid-column: 3 / 4;
      overflow-y: auto; } }

.pageTitle {
  width: 100%;
  max-width: 35rem;
  margin: 0 auto; }
  .pageTitle__title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; }
  .pageTitle__subtitle {
    font-size: 1.2rem; }

.imgContainer {
  grid-row: 6 / 7;
  grid-column: 1 / 2;
  justify-self: center;
  width: 90%;
  max-width: 35rem;
  height: 0;
  padding-bottom: 100%;
  margin-bottom: 5%;
  background-color: black;
  color: white;
  background-image: url(../assets/images/main-img-1.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (min-width: 992px) {
    .imgContainer {
      grid-row: 1 / 4;
      grid-column: 1 / 2;
      z-index: 20;
      width: 100%;
      max-width: 100%;
      height: 100%;
      padding: 0;
      margin: 0; } }
