$primary: #000;
$primary-alpha: #00000080;

$secondary: #fff;
$secondary-alpha: #ffffff80;

$text-color: #000;

/* |||| |||| ---- GRAY SCALE ---- |||| |||| */
$gray-lighter: hsl(0, 0%, 90%);
$gray-light: hsl(0, 0%, 75%);
$gray: hsl(0, 0%, 50%);
$gray-dark: hsl(0, 0%, 35%);
$gray-darker: hsl(0, 0%, 15%);
