.btn {
  display: inline-block;

  margin: 1rem;
  padding: 0.75rem 1.75rem;

  border: 0.125rem solid rgb(189, 189, 189);
  border-radius: 0.6rem;

  font-weight: 500;
  font-size: 1rem;
  text-align: center;

  background-color: rgb(233, 233, 233);
  text-decoration: none;

  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;

  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline-color: invert;
    outline-offset: 0.25rem;
  }
  // .btn--sm
  &--sm {
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
  }

  @media screen and (min-width: $lg) and (orientation: landscape) {
    transition: transform 0.2s ease;

    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-0.25rem);

      -webkit-transform: translateY(-0.25rem);
      -moz-transform: translateY(-0.25rem);
      -ms-transform: translateY(-0.25rem);
      -o-transform: translateY(-0.25rem);
    }

    &:active {
      transform: translateY(0);

      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }
  }
  // btn--primary
  &--primary {
    border-color: $primary;
    background-color: $primary;
    color: #fff;
  }
  // btn--secondary
  &--secondary {
    border-color: $primary;
    background-color: $secondary;
    color: $primary;
  }
  // btn--ghost
  &--ghost {
    border-color: $primary;
    background-color: transparent;
    color: $primary;
  }
  // btn--ghost-s (ghost secondary)
  &--ghost-s {
    border-color: $secondary;
    background-color: transparent;
    color: $secondary;
  }
  // btn-disable
  &--disable {
    border-color: $gray-light;
    background-color: $gray-lighter;
    color: $gray-light;
    cursor: not-allowed;
  }
  &--disable:hover {
    transform: none;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  &--disable:active {
    transform: none;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
}
